---
---

$tb: 2px;
$mtb: -2px;

.policy-contents {

  .policy-link {
    display: block;
    color: white;
    text-shadow: $tb $tb black, $tb $mtb black, $mtb $tb black, $mtb $mtb black, $tb 0px black, 0px $mtb black, 0px $tb black, $mtb 0px black;
    min-height: 100px;
    background-position: center;
    background-size: cover;
    background-color: darkgray;
    text-decoration: none;
    
    opacity: 0.75;
    transition: opacity .25s ease-in-out;
    
    &:hover {
      opacity: 1;
    }
    
  }

}

.policy {  
  
  h1 {
    counter-reset: section;
  }

  h2:before {
    font-style: italic;
    content: counter(section) ". ";
  }

  h2 {
    counter-increment: section;
    counter-reset: paragraph;
  }

  ul + p, p:first-child {
    font-size: 125%;
    &:before {
      content: "";
    }
  }

  > p {
    counter-increment: paragraph;
    &:before {
      font-style: italic;
      content: counter(section) "." counter(paragraph) ". ";
    }
  }

  div.footnotes {
    /* Style copied from div.well */
    background-color: #F5F5F5;
    border-color: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px inset;
    padding: 19px;
    -moz-box-sizing: border-box;
  }

  ul#markdown-toc {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    margin-left: 10px;
    float: right;
    list-style: none;
  }

}