.navbar {
  border-bottom: 0px;
}

.jumbotron {
/*  background-image: url(/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-right: 100px;*/

  width: 100%;
  background-color: #033769;
  color: white;
  margin-top: -20px;
  border-radius: 0px !important;

}

h1 {
  counter-reset: section;
}

.policy h2:before {
  font-style: italic;
  content: counter(section) ". ";
}

.policy h2 {
  counter-increment: section;
  counter-reset: paragraph;
}

.policy > p {
  counter-increment: paragraph;
}

.policy > p:before {
  font-style: italic;
  content: counter(section) "." counter(paragraph) ". ";
}

.policy ul + p, #homepage > p:first-of-type {
  font-size: 125%;
}

.policy ul + p:before {
  content: "";
}

div.footnotes {
  /* Style copied from div.well */
  background-color: #F5F5F5;
  border-color: 1px solid #E3E3E3;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px inset;
  padding: 19px;
  -moz-box-sizing: border-box;
}

ul#markdown-toc {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  margin-left: 10px;
  float: right;
  list-style: none;
}
