h1 { 
  counter-reset: section;
}

.policy h2:before { 
  font-style: italic;
  content: counter(section) ". ";
}

.policy h2 {
  counter-increment: section;
  counter-reset: paragraph;
}

.policy > p {
  counter-increment: paragraph;
}

.policy > p:before { 
  font-style: italic;
  content: counter(section) "." counter(paragraph) ". ";
}

.policy > p:first-child {
  font-size: 125%;
}

.policy > p:first-child:before {
  content: "";
}

div.footnotes {
  border-top: 1px solid #eee;
  padding-top: 10px;
}

ul#markdown-toc {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  margin-left: 10px;
  float: right;
  list-style: none;
}
