---
layout: main
---

<div class='jumbotron' style='background-image: url(https://farm5.staticflickr.com/4028/4371001268_0fbd556293_o.png);'>
  <div class='container'>
    <h1>The OpenPolitics Project</h1>
    <p>{{site.tagline}}</p>
    <p>
      <a href='manifesto' class='btn btn-primary btn-lg'>Help write the Manifesto</a>
      <a href='candidates.html' class='btn btn-primary btn-lg'>Vote OpenPolitics in 2015</a>
    </p>
    <div class='attribution'>
      <a href='https://www.flickr.com/photos/opensourceway/4371001268'>"What if politicians innovated the open source way?" by opensource.com</a>
    </div>
  </div>
</div>

<div id='homepage' class='container'>
  {{content}}
</div>
