<!DOCTYPE html>
<html>
<head>
  <title>{{site.name}}{% if page.title %}: {{page.title}}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="{{site.baseurl}}css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}css/home.css" rel="stylesheet">
  <link href="{{site.baseurl}}css/policy.css" rel="stylesheet">
  <link rel='icon' href='/images/logo64.png' sizes="64x64" type="image/png">
  <style>
    body {
      padding-top: 50px;
    }
  </style>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{site.baseurl}}index.html">
          <img src='/images/logo64_inverted.png' alt='logo' height='20' style='vertical-align: text-bottom'/>&nbsp;{{site.name}}
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href="{{site.baseurl}}manifesto/index.html">Manifesto <span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li> <a href='{{site.baseurl}}manifesto/index.html'>Introduction</a></li>
              {% assign sorted_pages = site.pages | sort:"title" %}
              {% for page in sorted_pages %}
                {% if page.layout == "policy" %}
                  <li> <a href='{{page.url}}'>{{ page.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li><a href="http://votebot.openpolitics.org.uk">Votes</a></li>
          <li><a href="{{site.baseurl}}candidates.html">Candidates</a></li>
          <li><a href="{{site.baseurl}}contributing.html">How to Contribute</a></li>
        </ul>
        {% if page.editable != false %}
          <a href="https://githubeditor.herokuapp.com/openpolitics/manifesto/blob/gh-pages/{{page.path}}" class='btn btn-primary navbar-btn pull-right'>
            Suggest a change
            <i class="fa fa-pencil"></i>
          </a>
        {% endif %}
        <!--<form class="navbar-form navbar-right" role="search" action='/search.html' method='get' style='margin-right: 20px'>
          <div class="form-group">
            <input type="text" class="form-control" name='query' placeholder="Search">
          </div>
        </form>-->
      </div><!--/.nav-collapse -->
    </div>
  </div>

  {{content}}

  <div class="container">
    <footer>
      <hr/>
      <small>
        <img src="//licensebuttons.net/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0" />
        This content is dedicated to the public domain. See the <a href='{{site.baseurl}}license.html'>license</a> for details. You can <a href='https://github.com/openpolitics/manifesto/blame/gh-pages/{{page.path}}'>see all page changes</a> on GitHub. <a href='{{site.baseurl}}contributing.html'>Contributions</a> are welcome!
      </small>
    </footer>

  </div>

  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>
