<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 50px;
    }
  </style>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">OpenPolitics Manifesto</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/contributing.html">Contributing</a></li>
          <li><a href="/authors.html">Authors</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">

    <h1>{{page.title}}</h1>
    <div>
      {{content}}
    </div>

  </div>

  <footer>
    <hr/>
    <small>
      This content is in the public domain. See the <a href='/license.html'>license</a> for details. <a href='/contributing.html'>Contributions</a> are welcome.
    </small>
  </footer>

</body>
</html>